/.SoftGalleryLanguageRuntimeModule.java._trace
/.SoftGalleryLanguageStandaloneSetup.java._trace
/.SoftGalleryLanguageRuntimeModule.xtendbin
/.SoftGalleryLanguageStandaloneSetup.xtendbin
/SoftGalleryLanguageRuntimeModule.java
/SoftGalleryLanguageStandaloneSetup.java
