<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.unal.co/mdd/photos/dsl/SoftGalleryLanguage"
			class = "co.unal.mdd.photos.dsl.softGalleryLanguage.SoftGalleryLanguagePackage"
			genModel = "model/generated/SoftGalleryLanguage.genmodel" />
	</extension>
</plugin>
