/.SoftGalleryLanguageIdeModule.java._trace
/.SoftGalleryLanguageIdeSetup.java._trace
/.SoftGalleryLanguageIdeModule.xtendbin
/.SoftGalleryLanguageIdeSetup.xtendbin
/SoftGalleryLanguageIdeModule.java
/SoftGalleryLanguageIdeSetup.java
