/.SoftGalleryLanguageDescriptionLabelProvider.java._trace
/.SoftGalleryLanguageLabelProvider.java._trace
/.SoftGalleryLanguageDescriptionLabelProvider.xtendbin
/.SoftGalleryLanguageLabelProvider.xtendbin
/SoftGalleryLanguageDescriptionLabelProvider.java
/SoftGalleryLanguageLabelProvider.java
